<service name="cargo_vendor">
  <summary> OBS Source Service to vendor all crates.io and dependencies for a Rust project</summary>
  <description>
  <![CDATA[
  This service extracts a Rust application source,
  searches for a Rust application containing a Cargo.toml file,
  download all crates.io and dependecies,
  and creates a vendor.tar[.<tar compression>] to be committed allowing fully offline
  builds of Rust applications.
  ]]></description>
  <parameter name="strategy">
    <description>Legacy argument, no longer used. Values: vendor. Default: vendor</description>
  </parameter>
  <parameter name="src">
    <description>Where to find sources. Source is either a directory or a source tarball AND cannot be both. Aliases: srctar, srcdir</description>
  </parameter>
  <parameter name="outdir">
    <description>Specify where to put the vendor tarball</description>
  </parameter>
  <parameter name="update">
    <description>Update dependencies or not. Default: true</description>
    <allowedvalue>false</allowedvalue>
    <allowedvalue>true</allowedvalue>
  </parameter>
  <parameter name="tag">
    <description>
          Tag some files for multi-vendor and multi-cargo_config projects
    </description>
  </parameter>
  <parameter name="compression">
    <description>What compression algorithm to use. Set to `not` if you just want a normal tarball with no compression. Default: zst</description>
  </parameter>
  <parameter name="cargotoml">
    <description>Other cargo manifest files to sync with during vendor. Optional</description>
  </parameter>
  <parameter name="filter">
    <description>EXPERIMENTAL: Reduce vendor-tarball size by filtering out non-Linux dependencies. Default: False</description>
    <allowedvalue>false</allowedvalue>
    <allowedvalue>true</allowedvalue>
  </parameter>
  <parameter name="respect-lockfile">
    <descrption>Respect lockfile or not if it exists. Otherwise, regenerate the lockfile and try to respect the lockfile. Default: true</description>
    <allowedvalue>false</allowedvalue>
    <allowedvalue>true</allowedvalue>
  </parameter>
  <parameter name="versioned-dirs">
    <descrption>Whether to use the `--versioned-dirs` flag of cargo-vendor. Default: true</description>
    <allowedvalue>false</allowedvalue>
    <allowedvalue>true</allowedvalue>
  </parameter>
</service>
