name: Build OBS Service Cargo

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    container: opensuse/tumbleweed:latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install dependencies and Rust
      run: |
        zypper --non-interactive in libzstd-devel rustup
        rustup default stable
        rustup update
    - name: Build
      run: |
        cargo update
        cargo build --release --all-features
    - name: Check formatting
      run: |
        cargo fmt -- --check || true
    - name: Check clippy
      run: |
        cargo clippy
    - name: Run sample projects to test
      run: |
        chmod +x runtests.sh
        ./runtests.sh
